{% extends 'VarelagerBundle:Varelager:common.html.twig' %}

{% block title %}Varelager{% endblock %}


{% block resources %}
	{{ parent() }}
	{#
	<!--script type="text/javascript" src="{{ asset('bundles/varelager/js/widgets-bestilling.js') }}"></script-->
	#}
	<script type="text/javascript">
	jQuery(function(){
		//jQuery('#placeDateWidget').placedate();
		{# filter | e(js) #}
		{% autoescape false %}
		{% if products %}
		
		jQuery('#spreadSheetWidget').spreadsheet({
			enable_listitem_amount: 1,
			products: {{products}} 
		});
		jQuery('#spreadSheetWidget').spreadsheet('sumQuantities');
		{% endif %}
		{% endautoescape %}

	});
	</script>
{% endblock %}


{#% block header %}
<h1 class="page-title">Varelager - Bestilling</h1>
{% endblock %#}

{% block navigation %}
	{{ parent() }}
{% endblock %}

{#% block navigation %}
{% endblock %#}


{% block actionPicker %}
	<div id="actionPicker">
	Handling:
	<select id="varelagerAction" name="action" class="flat">
		{% for action in actionChoices %}
		<option value="{{ action.value }}">{{ action.legend }}</option>
		{% endfor %}
	</select>
	<img id="pacman" class="hidden ajaxindicator" alt="pacman" src={{ asset('bundles/persilleriet/images/pacman.gif') }} />
	<a id="go" href="#" title="Utf&oslash;r" onclick="jQuery.varelager.doAction(); return false;" 
		><img class="button" alt="go" src={{ asset('bundles/persilleriet/images/carrot.png') }} /></a> 

	<form action="javascript:void(0);" method="post">
	<input type="hidden" id="submitURLsaveorder" value="{{ path('_db_saveorder') }}"></input>
	</form>
	</div>
{% endblock %}

{% block pageFlesh %}

<table class="bestilling">
	<tr>
		<td> <h2 class="widget-title">Oversikt</h2> </td>
		<td> <h2 class="widget-title">Mal</h2> </td>
		<td> <h2 class="widget-title">tre</h2> </td>
	</tr>
	<tr>
		<td class="varenavn-cell"> <div id="spreadSheetWidget" class="spreadsheet-widget"> </div> </td>
		<td> <div id="orderTemplatesWidget" class="ordertemplate-widget"> </div> </td>
		<td> <div id="tre" class="tre-widget"> </div> </td>
	</tr>
</table>

{% endblock %}
